In [12]:
from glob import glob
import pandas as pd

In [13]:
df_pennsylvania = pd.read_parquet('../../data/raw//g-review/g-review_Pennsylvania.parquet')
df_delaware = pd.read_parquet('../../data/raw//g-review/g-review_Delaware.parquet')
df_new_jersey = pd.read_parquet('../../data/raw//g-review/g-review_New_Jersey.parquet')

In [14]:
df_pennsylvania_g = pd.read_parquet('../../data/PA.parquet')
df_delaware_g = pd.read_parquet('../../data/DE.parquet')
df_new_jersey_g = pd.read_parquet('../../data/NJ.parquet')

In [15]:
# Filtrar el segundo DataFrame para incluir solo las filas con los ID que están en el primer DataFrame
datos_pennsylvania = df_pennsylvania[df_pennsylvania['gmap_id'].isin(df_pennsylvania_g['gmap_id'])]
datos_delaware = df_delaware[df_delaware['gmap_id'].isin(df_delaware_g['gmap_id'])]
datos_new_jersey = df_new_jersey[df_new_jersey['gmap_id'].isin(df_new_jersey_g['gmap_id'])]

In [16]:
datos_pennsylvania.info()

<class 'pandas.core.frame.DataFrame'>
Index: 506734 entries, 633 to 2249999
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  506734 non-null  object
 1   name     506734 non-null  object
 2   time     506734 non-null  int64
 3   rating   506734 non-null  int64
 4   text     297294 non-null  object
 5   pics     13848 non-null   object
 6   resp     67079 non-null   object
 7   gmap_id  506734 non-null  object
dtypes: int64(2), object(6)
memory usage: 34.8+ MB

In [17]:
datos_delaware.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62302 entries, 155554 to 282712
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   user_id  62302 non-null  object
 1   name     62302 non-null  object
 2   time     62302 non-null  int64
 3   rating   62302 non-null  int64
 4   text     36302 non-null  object
 5   pics     1440 non-null   object
 6   resp     9120 non-null   object
 7   gmap_id  62302 non-null  object
dtypes: int64(2), object(6)
memory usage: 4.3+ MB

In [18]:
datos_new_jersey.info()

<class 'pandas.core.frame.DataFrame'>
Index: 239545 entries, 710 to 1646978
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  239545 non-null  object
 1   name     239545 non-null  object
 2   time     239545 non-null  int64
 3   rating   239545 non-null  int64
 4   text     136700 non-null  object
 5   pics     5961 non-null    object
 6   resp     28924 non-null   object
 7   gmap_id  239545 non-null  object
dtypes: int64(2), object(6)
memory usage: 16.4+ MB

In [19]:
# Unir los tres DataFrames en uno solo
df_reviews_google = pd.concat([datos_pennsylvania, datos_delaware, datos_new_jersey], ignore_index=True)

In [20]:
# Resetear el índice del DataFrame resultante
df_reviews_google.reset_index(drop=True, inplace=True)

In [21]:
df_reviews_google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808581 entries, 0 to 808580
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   user_id  808581 non-null  object
 1   name     808581 non-null  object
 2   time     808581 non-null  int64
 3   rating   808581 non-null  int64
 4   text     470296 non-null  object
 5   pics     21249 non-null   object
 6   resp     105123 non-null  object
 7   gmap_id  808581 non-null  object
dtypes: int64(2), object(6)
memory usage: 49.4+ MB

In [22]:
df_reviews_google.to_parquet('../../data/reviews_google.parquet')