In [2]:
import requests
import pandas as pd

In [5]:
API_KEY = ""

In [6]:
def get_yelp_reviews(business_id):
    """
    """
    url = f'https://api.yelp.com/v3/businesses/{business_id}/reviews?limit=50&sort_by=yelp_sort'
    headers = {'Authorization': f'Bearer {API_KEY}'}

    respuesta = requests.get(url, headers=headers)

    if respuesta.status_code == 200:
        # Leer archivo de respuesta JSON 
        reviews_data = respuesta.json()
        # Extraer `reviews`
        reviews = reviews_data['reviews']
        return reviews
    else:
        return None

In [7]:
df_darden_y_comp = pd.read_pickle('../data/df_darden_y_comp.pickle')

In [14]:
business_ids = df_darden_y_comp['business_id'].tolist()
business_ids

['nSptExAJO8atirMyZbBh1g',
 'Ol4KW8Xx4lzPitSOw2ZdSA',
 'Hr_zdqPZ9VkGjKNv4UIQRg',
 'yxQs5gSf0-8cEd6YMgSjbw',
 'jTCBK1BS8O_Iy9N0vL88uw',
 'ZFPdmDIL2geO07HeT9-EmQ',
 'bSX7czEHT7plB0JG_2aPHg',
 'GP0pM7qZEg4VF-OISaxndw',
 'Kg4Yx0vIsnYs1XPcX9kB9g',
 'b90P-3bx2ocANqeND90epQ',
 'FfW6oIk-dKKDAmVqzPV78A',
 'y5nl-lRDlphGQ9XiwDNmtg',
 'Ee0DwQtmCxhcwSFvX1Gl6g',
 'AYvvx-AeplhRrER9MP5gcA',
 'bJvn95qeKCYsPs3Y5lfqsg',
 'qOx-ZEszYuwsPHPQmBMe_A',
 'Ur2C_YaqewfR3QWaWtJy3w',
 'BOdfIwPcvZ2V9vsOXCVgfA',
 'qBhtpgS-GxNk38CgRVCJLw',
 'zrd6bulYNAKhCdSVtJ8aXQ',
 'OCz2ba1y_lIAonOGU0B7zA',
 'VlTwxhPtKWvWxg6VSS9uyA',
 'q3k9lwaHNqbtiGc-XeHnKg',
 '1G2ioVP2reLd73NQroGONg',
 'RkzE1UTCiLcMeGN8tVOFcg',
 'X9tvfneZi6vq-45Z7ulvPQ',
 'VdKldEVb7pZwttJ_uLJ-4g',
 'ZipdU0bO04CUDZFP1Hj2QA',
 'laIi1mYcEBif7cU8A_kLew',
 'fuVjhIY099Xdla0x9qgyTA',
 'y3iKFTk_sgIXCT6fNcBn_Q',
 '12SbnXfsthBbBaF2YzhLfA',
 'SgQYWN_U5nyKofiCewopMg',
 'AlH5V97JSAu7AL_xdibMIg',
 'P3GeRGkqeW-uL4yT-kuGtw',
 '-AWclhh1_2VnqPylPgBU3g',
 'mYMPepp0QIZRk_52pWzeoA',
 'pGM44vXYa6lke-dU4h-xpA',
 '_WXisiele6N-scYh2m8Gmw',
 '0WX9lNZPC_w0oaq8pvBr4w',
 '3kCdCzbfMbpTStmrUbpfUQ',
 'TFu4tLmV6zRVLEFG0TCLBA',
 '5H5mKgROIfmYKHjFMCePCA',
 'baxAe39nPgmAhkNwqvoHnQ',
 'MxRZHZoDVVnN7EvMAHf1EA',
 'unjm4rIGc-ZzRxdzEPnc1g',
 'mc9V_wG4QyRYew9_S8R44A',
 'hFMud7XDefdWM1d-p1B2dQ',
 'QUshQjkKA_s0yTrxOGbRrQ',
 'zCS3t1ysH2WTuHxJVrRevw',
 'U0ICWpbd1C0GD9SpIv3bSA',
 'LSzIBMNusjAmS0F87CM8fg',
 'uSwFlrrn-MKBKOiCRE2e6A',
 'h6v5Tgs6Wa97_XoureEkGw',
 'N8vvl_dRa0R9ooJqWFJ4GQ',
 'TiywUz1q7Yw8JL4daD4fKQ',
 'T9n_LqUUhC2b1ALhg57Y5Q',
 '0b6OaNUFzqpIPedYbEMu4Q',
 'tW4w9WGwyxJ03PMabnqQkQ',
 'TD2Ln8rzK-UbGECZkD6V4Q',
 'ILLu-1LRxTRfLpV43GDmOQ',
 'XMzcXTBnGYvbSdBtx21ZGg',
 '5CZT5u_nY4mmirQh5QLoEw',
 'TkupWfgSwBd_h05HAORDJg',
 'cZLEqoK3k7oDNQs5rPpcYA',
 'NdSJl2PIpAWrxVVl0rW7nw',
 'CzCcNW9diIBgWCIthgmAGw',
 'CS_GzUYlEPa6QHTRY224wQ',
 'gd15-d7r2joRjkcXywMWUw',
 'q57zXsyVxipFR6BCbyHHyw',
 'Mfvk9uEEhdCqj8S2u7dWgQ',
 'p8ao29A31ijNwDXuAxQxjA',
 'MfKScMsPZfE66VQ1CsbS0A',
 'U50T86i8wyNWGWxsP7GIRw',
 'epVHdJqIFN0dtAiFvnVJVg',
 'RNgb844JJbo6vO1iUod8vA',
 'kzy0Kf7z1ucbL2sVbfAFsg',
 '2WGnykxiM-Mp-qIm2u7iAw',
 'CbUhPPCH04V668zECkZlJg',
 'AEgMDoFmikKJv3wYYKlseA',
 'WJttCFNov5-QJr4govnySQ',
 'u1uWs6f1NN_jMVIN-r-E-w',
 '4Hyfm0Ly3yo96RJTVShTIA',
 'V6x2MKCmFcPkOzY3vC4BwA',
 'P2ms_n4nSlXWVbIBAgqiGQ']

In [41]:
b_id = business_ids[10:13]
b_id

['FfW6oIk-dKKDAmVqzPV78A', 'y5nl-lRDlphGQ9XiwDNmtg', 'Ee0DwQtmCxhcwSFvX1Gl6g']

In [43]:
from time import sleep

In [45]:
business_ids = business_ids[5:9]
business_ids

['ZFPdmDIL2geO07HeT9-EmQ',
 'bSX7czEHT7plB0JG_2aPHg',
 'GP0pM7qZEg4VF-OISaxndw',
 'Kg4Yx0vIsnYs1XPcX9kB9g']

In [46]:
df_api_reviews = pd.DataFrame()

for b_id in business_ids:
    reviews = get_yelp_reviews(b_id)
    sleep(1.55)
    print(b_id)

    for i, r in enumerate(reviews):
        # Parse dia de la semana
        day = pd.to_datetime(r['time_created'])
        day_nombres = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

        review = {
        'business_id': b_id,
        'review_id': r['id'],
        'user_id': r['user']['id'],
        'stars': float(r['rating']),
        'text': r['text'],
        'date': r['time_created'],
        'day': day_nombres[day.dayofweek]
        }

        df_api_reviews = pd.concat([df_api_reviews, pd.DataFrame(review, index=[i])])

df_api_reviews

ZFPdmDIL2geO07HeT9-EmQ
bSX7czEHT7plB0JG_2aPHg
GP0pM7qZEg4VF-OISaxndw
Kg4Yx0vIsnYs1XPcX9kB9g

,business_id,review_id,user_id,stars,text,date,day
0,ZFPdmDIL2geO07HeT9-EmQ,UamiiVOlmSz8ilE4INK9gQ,zUk_Ww2q1At1QSyRbUjIGQ,3.0,We came here due only to a gift card (re-gift ...,2024-04-06 11:08:10,Saturday
1,ZFPdmDIL2geO07HeT9-EmQ,iZL4D0Kb24z2hOSiEBn7Ug,R9SZqjdm8yiZyVtISRzbng,3.0,"So, we swung by Chilies in Deptford today to c...",2023-10-02 10:34:18,Monday
2,ZFPdmDIL2geO07HeT9-EmQ,jc-AaFbmkA2licDpvg2s_w,vKm21KHKbpKr_3K0MHi2yw,5.0,This is prior to eating. Check back later for ...,2023-11-04 18:03:46,Saturday
0,bSX7czEHT7plB0JG_2aPHg,Z6JhEssJT_pxtkCX8rUlSg,56eraZo0EV-NOEGGpE4cjw,5.0,"Tony is absolutely amazing. He was kind, atten...",2023-11-20 17:03:26,Monday
1,bSX7czEHT7plB0JG_2aPHg,GX3aLn2YltO8JnofytJqFg,PPjTsKzk3GPQZsqjoQO04Q,3.0,"I go to a Yard House near where I live, grante...",2023-12-04 14:57:47,Monday
2,bSX7czEHT7plB0JG_2aPHg,vOBVsE93fhe36s1piznCuw,vMXnnHMFgeOgPrOKcLlPFw,5.0,We were a large party celebrating a very speci...,2024-05-11 15:10:50,Saturday
0,GP0pM7qZEg4VF-OISaxndw,vJkWTFj_qlc-WqHT-i5l8w,jJti180QBofeeNUFxCOw1g,3.0,"Went to the Olive Garden Kenneth Rd, York PA l...",2024-04-23 17:39:55,Tuesday
1,GP0pM7qZEg4VF-OISaxndw,GVAzw_T2ATuTZCuiON4FTA,wWARP249wka63cl5IFdjFA,3.0,Unfortunately this location is chronically und...,2024-03-05 04:43:08,Tuesday
2,GP0pM7qZEg4VF-OISaxndw,87Cw3Alc4dy7arjGwBlzPQ,OuEuOjtFb16-XpQK8QlFyw,4.0,We were shopping around the area and wanted to...,2023-08-27 20:32:18,Sunday
0,Kg4Yx0vIsnYs1XPcX9kB9g,IskMttyH0CNXkDzvhv70dg,gbh6XwbT_Vd7N29_bZFpKg,5.0,Bone Fish Grill in Montgomeryville Pa\nhas th...,2024-03-10 17:22:42,Sunday
1,Kg4Yx0vIsnYs1XPcX9kB9g,j6V-71GzLIUiHWdLh-ttNQ,D6TnDiMT5ak6uAo4-clbKQ,3.0,Food is decent but service is lacking. Our fem...,2023-10-15 11:04:43,Sunday
2,Kg4Yx0vIsnYs1XPcX9kB9g,jDk7lRClA1ekYpSKYUv_vA,v91o45bN0uDduN4-MH5jxw,5.0,"The food is excellent, atmosphere comfortable ...",2024-05-08 09:13:02,Wednesday

In [68]:
df = df_api_reviews.merge(df_darden_y_comp, on='business_id')

In [69]:
df

,business_id,review_id,user_id,stars,text,date,day,name,city,state,postal_code,coordinates,company
0,ZFPdmDIL2geO07HeT9-EmQ,UamiiVOlmSz8ilE4INK9gQ,zUk_Ww2q1At1QSyRbUjIGQ,3.0,We came here due only to a gift card (re-gift ...,2024-04-06 11:08:10,Saturday,Chili's,Deptford,PA,08096,"39.835342,-75.097273",brinker
1,ZFPdmDIL2geO07HeT9-EmQ,iZL4D0Kb24z2hOSiEBn7Ug,R9SZqjdm8yiZyVtISRzbng,3.0,"So, we swung by Chilies in Deptford today to c...",2023-10-02 10:34:18,Monday,Chili's,Deptford,PA,08096,"39.835342,-75.097273",brinker
2,ZFPdmDIL2geO07HeT9-EmQ,jc-AaFbmkA2licDpvg2s_w,vKm21KHKbpKr_3K0MHi2yw,5.0,This is prior to eating. Check back later for ...,2023-11-04 18:03:46,Saturday,Chili's,Deptford,PA,08096,"39.835342,-75.097273",brinker
3,bSX7czEHT7plB0JG_2aPHg,Z6JhEssJT_pxtkCX8rUlSg,56eraZo0EV-NOEGGpE4cjw,5.0,"Tony is absolutely amazing. He was kind, atten...",2023-11-20 17:03:26,Monday,Yard House,Willow Grove,PA,19090,"40.1402883373,-75.1249255505",darden
4,bSX7czEHT7plB0JG_2aPHg,GX3aLn2YltO8JnofytJqFg,PPjTsKzk3GPQZsqjoQO04Q,3.0,"I go to a Yard House near where I live, grante...",2023-12-04 14:57:47,Monday,Yard House,Willow Grove,PA,19090,"40.1402883373,-75.1249255505",darden
5,bSX7czEHT7plB0JG_2aPHg,vOBVsE93fhe36s1piznCuw,vMXnnHMFgeOgPrOKcLlPFw,5.0,We were a large party celebrating a very speci...,2024-05-11 15:10:50,Saturday,Yard House,Willow Grove,PA,19090,"40.1402883373,-75.1249255505",darden
6,GP0pM7qZEg4VF-OISaxndw,vJkWTFj_qlc-WqHT-i5l8w,jJti180QBofeeNUFxCOw1g,3.0,"Went to the Olive Garden Kenneth Rd, York PA l...",2024-04-23 17:39:55,Tuesday,Olive Garden Italian Restaurant,Downingtown,FL,19335,"40.017086399,-75.6729330438",darden
7,GP0pM7qZEg4VF-OISaxndw,GVAzw_T2ATuTZCuiON4FTA,wWARP249wka63cl5IFdjFA,3.0,Unfortunately this location is chronically und...,2024-03-05 04:43:08,Tuesday,Olive Garden Italian Restaurant,Downingtown,FL,19335,"40.017086399,-75.6729330438",darden
8,GP0pM7qZEg4VF-OISaxndw,87Cw3Alc4dy7arjGwBlzPQ,OuEuOjtFb16-XpQK8QlFyw,4.0,We were shopping around the area and wanted to...,2023-08-27 20:32:18,Sunday,Olive Garden Italian Restaurant,Downingtown,FL,19335,"40.017086399,-75.6729330438",darden
9,Kg4Yx0vIsnYs1XPcX9kB9g,IskMttyH0CNXkDzvhv70dg,gbh6XwbT_Vd7N29_bZFpKg,5.0,Bone Fish Grill in Montgomeryville Pa\nhas th...,2024-03-10 17:22:42,Sunday,Bonefish Grill,King Of Prussia,PA,19406,"40.088307439,-75.3941364706",bloomin
10,Kg4Yx0vIsnYs1XPcX9kB9g,j6V-71GzLIUiHWdLh-ttNQ,D6TnDiMT5ak6uAo4-clbKQ,3.0,Food is decent but service is lacking. Our fem...,2023-10-15 11:04:43,Sunday,Bonefish Grill,King Of Prussia,PA,19406,"40.088307439,-75.3941364706",bloomin
11,Kg4Yx0vIsnYs1XPcX9kB9g,jDk7lRClA1ekYpSKYUv_vA,v91o45bN0uDduN4-MH5jxw,5.0,"The food is excellent, atmosphere comfortable ...",2024-05-08 09:13:02,Wednesday,Bonefish Grill,King Of Prussia,PA,19406,"40.088307439,-75.3941364706",bloomin

In [70]:
#df = df
company_unicos = df['company'].dropna().unique()
company_unicos

array(['brinker', 'darden', 'bloomin'], dtype=object)

In [71]:
dfs = {}
for company in company_unicos:
    df_company = df[df['company'] == company]
    df_company.drop(columns=['company'], inplace=True)

    if company == 'darden':
        df_company['text_reply'] = ''

    dfs[company] = df_company

dfs.keys()

/tmp/ipykernel_43995/263845807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_company.drop(columns=['company'], inplace=True)
/tmp/ipykernel_43995/263845807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_company.drop(columns=['company'], inplace=True)
/tmp/ipykernel_43995/263845807.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_company['text_reply'] = ''
/tmp/ipykernel_43995/263845807.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_company.drop(columns=['company'], inplace=True)

dict_keys(['brinker', 'darden', 'bloomin'])

In [72]:
dfs.get('brinker')

,business_id,review_id,user_id,stars,text,date,day,name,city,state,postal_code,coordinates
0,ZFPdmDIL2geO07HeT9-EmQ,UamiiVOlmSz8ilE4INK9gQ,zUk_Ww2q1At1QSyRbUjIGQ,3.0,We came here due only to a gift card (re-gift ...,2024-04-06 11:08:10,Saturday,Chili's,Deptford,PA,08096,"39.835342,-75.097273"
1,ZFPdmDIL2geO07HeT9-EmQ,iZL4D0Kb24z2hOSiEBn7Ug,R9SZqjdm8yiZyVtISRzbng,3.0,"So, we swung by Chilies in Deptford today to c...",2023-10-02 10:34:18,Monday,Chili's,Deptford,PA,08096,"39.835342,-75.097273"
2,ZFPdmDIL2geO07HeT9-EmQ,jc-AaFbmkA2licDpvg2s_w,vKm21KHKbpKr_3K0MHi2yw,5.0,This is prior to eating. Check back later for ...,2023-11-04 18:03:46,Saturday,Chili's,Deptford,PA,08096,"39.835342,-75.097273"

In [73]:
dfs_out = {}
for company, df in dfs.items():
    tabla = 'reviews_' + company
    print(tabla)
    # Definir query
    #sql = f"""
    #SELECT {columna}
    #FROM `{project_id}.{dataset}.{tabla}`
    #"""
    # Run the query and get the results
    #query_job = client.query(query)
    #filas = query_job.result()

    # Create an empty list to store the column values
    review_ids = []
    ## Loop through each row and append the column value to the list
    #for fila in filas:
    #    review_ids.append(fila[columna])
    review_ids = ['IskMttyH0CNXkDzvhv70dg','jDk7lRClA1ekYpSKYUv_vA', 'vOBVsE93fhe36s1piznCuw',
                  '87Cw3Alc4dy7arjGwBlzPQ', 'UamiiVOlmSz8ilE4INK9gQ', 'iZL4D0Kb24z2hOSiEBn7Ug', 'jc-AaFbmkA2licDpvg2s_w']
    

    df['es_duplicado'] = df['review_id'].isin(review_ids)
    df = df[df['es_duplicado'] == False]
    df.drop(columns=['es_duplicado'], inplace=True)

    if not df.shape[0]:
        continue
    
    if company == 'darden':
        df['text_reply'] = ''

    dfs_out[company] = df

reviews_brinker
reviews_darden
reviews_bloomin

/tmp/ipykernel_43995/1554734900.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['es_duplicado'] = df['review_id'].isin(review_ids)
/tmp/ipykernel_43995/1554734900.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['es_duplicado'], inplace=True)
/tmp/ipykernel_43995/1554734900.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['es_duplicado'] = df['review_id'].isin(review_ids)
/tmp/ipykernel_43995/1554734900.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['es_duplicado'], inplace=True)
/tmp/ipykernel_43995/1554734900.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['text_reply'] = ''
/tmp/ipykernel_43995/1554734900.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['es_duplicado'] = df['review_id'].isin(review_ids)
/tmp/ipykernel_43995/1554734900.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=['es_duplicado'], inplace=True)

In [80]:
dfs_out.keys()

dict_keys(['darden', 'bloomin'])

In [81]:
dfs_out.items()

dict_items([('darden',               business_id               review_id                 user_id  \
3  bSX7czEHT7plB0JG_2aPHg  Z6JhEssJT_pxtkCX8rUlSg  56eraZo0EV-NOEGGpE4cjw
4  bSX7czEHT7plB0JG_2aPHg  GX3aLn2YltO8JnofytJqFg  PPjTsKzk3GPQZsqjoQO04Q
6  GP0pM7qZEg4VF-OISaxndw  vJkWTFj_qlc-WqHT-i5l8w  jJti180QBofeeNUFxCOw1g
7  GP0pM7qZEg4VF-OISaxndw  GVAzw_T2ATuTZCuiON4FTA  wWARP249wka63cl5IFdjFA

   stars                                               text  \
3    5.0  Tony is absolutely amazing. He was kind, atten...
4    3.0  I go to a Yard House near where I live, grante...
6    3.0  Went to the Olive Garden Kenneth Rd, York PA l...
7    3.0  Unfortunately this location is chronically und...

                  date      day                             name  \
3  2023-11-20 17:03:26   Monday                       Yard House
4  2023-12-04 14:57:47   Monday                       Yard House
6  2024-04-23 17:39:55  Tuesday  Olive Garden Italian Restaurant
7  2024-03-05 04:43:08  Tuesday  Olive Garden Italian Restaurant

           city state postal_code                   coordinates text_reply
3  Willow Grove    PA       19090  40.1402883373,-75.1249255505
4  Willow Grove    PA       19090  40.1402883373,-75.1249255505
6   Downingtown    FL       19335   40.017086399,-75.6729330438
7   Downingtown    FL       19335   40.017086399,-75.6729330438             ), ('bloomin',                business_id               review_id                 user_id  \
10  Kg4Yx0vIsnYs1XPcX9kB9g  j6V-71GzLIUiHWdLh-ttNQ  D6TnDiMT5ak6uAo4-clbKQ

    stars                                               text  \
10    3.0  Food is decent but service is lacking. Our fem...

                   date     day            name             city state  \
10  2023-10-15 11:04:43  Sunday  Bonefish Grill  King Of Prussia    PA

   postal_code                  coordinates
10       19406  40.088307439,-75.3941364706  )])