In [1]:
import pandas as pd

In [2]:
df_reviews = pd.read_csv("../misc/y_darden_reviews_respondido.csv")

In [3]:
#df_reviews["response_text"] = ""

In [ ]:
contador = 1437
total = df_reviews.shape[0]

while contador < total:
    if df_reviews.loc[contador,"stars"] < 4:
        pass
    else:
        review = df_reviews.loc[contador,"text"] 
        prompt = f"""
            You are a humble restaurant manager that uses casual language. 
            You are talking to a customer. 
            Reply with a short one sentence to this Yelp review: 
            {review}
            """
        df_reviews.loc[contador,"response_text"] = model_Q5(prompt)
       
    contador +=1

In [ ]:
#df_reviews.to_csv("y_darden_reviews_respondido.csv")

In [4]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6365 entries, 0 to 6364
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     6365 non-null   int64
 1   name           6365 non-null   object
 2   review_id      6365 non-null   object
 3   user_id        6365 non-null   object
 4   business_id    6365 non-null   object
 5   stars          6365 non-null   float64
 6   text           6365 non-null   object
 7   date           6365 non-null   int64
 8   day            6365 non-null   object
 9   city           6365 non-null   object
 10  state          6365 non-null   object
 11  postal_code    6365 non-null   int64
 12  coordinates    6365 non-null   object
 13  response_text  889 non-null    object
dtypes: float64(1), int64(3), object(10)
memory usage: 696.3+ KB

In [9]:
df_reviews[df_reviews["stars"] >=4].count()

Unnamed: 0       3727
name             3727
review_id        3727
user_id          3727
business_id      3727
stars            3727
text             3727
date             3727
day              3727
city             3727
state            3727
postal_code      3727
coordinates      3727
response_text     889
dtype: int64

In [26]:
df_reviews.iloc[1434:1438]

,Unnamed: 0,name,review_id,user_id,business_id,stars,text,date,day,city,state,postal_code,coordinates,response_text
1434,1434,LongHorn Steakhouse,h1y8OLZw2XTeikdgUFPzjw,muUzapu5PiCPgbe1fFd4qA,TFu4tLmV6zRVLEFG0TCLBA,5.0,Went on a dinner date with my partner and ever...,1551671888000000000,Monday,Tampa,PA,33612,"28.0550872249,-82.4363535575","\n Wow, thank you so much for the kind ..."
1435,1435,LongHorn Steakhouse,YUP9VswZe-jrkqjUuVtRUQ,G605nYIS8uL85mH9qJcQmQ,TFu4tLmV6zRVLEFG0TCLBA,1.0,"Normally, this restaurant is pretty consistent...",1506985270000000000,Monday,Tampa,PA,33612,"28.0550872249,-82.4363535575",NaN
1436,1436,LongHorn Steakhouse,Vq-dxWoN_WLV0kJ2uiYqtA,Ouaz4qZEZBBk11ZAlcQjmA,TFu4tLmV6zRVLEFG0TCLBA,1.0,DON'T EAT AT THIS LOCATION! The server will st...,1549859702000000000,Monday,Tampa,PA,33612,"28.0550872249,-82.4363535575",NaN
1437,1437,LongHorn Steakhouse,Z6SUWfBNwOP3nFDeCicC4g,XrtlvN_DTTzP1sfKVofMeQ,TFu4tLmV6zRVLEFG0TCLBA,5.0,"Had the best waiter EVER , made all the differ...",1562014974000000000,Monday,Tampa,PA,33612,"28.0550872249,-82.4363535575",NaN